<html>
  <head>
    <title>Booklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="text-center">
      <h1>Books for you</h1>
      <br>
      <ol>
      <li>Book1. &nbsp;&nbsp;&nbsp;&nbsp; <a href="{{url_for ('control') }}" class="btn btn-info" role="button">Grab it</a></li>
      <br>
      <li>Book2. &nbsp;&nbsp;&nbsp;&nbsp; <a href="{{url_for ('control') }}" class="btn btn-info" role="button">Grab it</a></li>
      <br>
      <li>Book3. &nbsp;&nbsp;&nbsp;&nbsp; <a href="{{url_for ('control') }}" class="btn btn-info" role="button">Grab it</a></li>
      </ol>
    </div>
  </body>
</html>