<html>
  <head>
    <title>Book searching page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="text-center">
      <h1>Please Enter Keywords</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Keyword" name="keyword" value="{{
          request.form.username }}">
        <input class="btn btn-info" type="submit" value="Search">
      </form>
    </div>
  </body>
</html>