<!doctype html>


<html lang=en>
  <head>
    <title>BB Control</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="text-center">
      <img src="{{url_for('static', filename='logo.png')}}" alt="logo" class="rounded mx-auto d-block" width=30% height=30%>
      <h1>Book Grabbing Demo</h1>
      <h2>Give it a try:</h2>
      <h3>Help: This "Grab" button is going to remotely control the robot to pick up a book</h3>
      <br>
      <form action="" method="post">
        <input class="btn btn-info" type="submit"  style= "font-size: 50px" value="Grab">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
