{% extends "base.html" %}
{% block content %}
<div class="container">  
    <div class="card text-center">
        <div class="card-header">Book Grabbing Demo</div>
            <div class="card-body" >
                <p class="card-text">This runs the grabbing demo. The demo will blahblahblahblah.</p>
                <form action="" method="POST">
                    <input type="submit" value="Run Demo" name ="grab" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card text-center">
        <div class="card-header">Navigation Demo</div>
            <div class="card-body" >
                <p class="card-text">This runs the navigation demo. The demo will blahblahblahblah.</p>
                <form action="" method="POST">
                    <input type="submit" value="Run Demo" name ="grab" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card text-center">
        <div class="card-header">Book Identification Demo</div>
            <div class="card-body" >
                <p class="card-text">This runs the book id demo. The demo will blahblahblahblah.</p>
                <form action="" method="POST">
                    <input type="submit" value="Run Demo" name ="id" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}