{%extends "base.html"%}
{%block content%}
<div class="container">

<div class="row">
    <div class="col-lg-4">
        <div class="card " style="width: vmax;height: vmax;">
            <img class="card-img-top" src="{{url_for('static', filename='get_colour.png')}}" alt="Demo 2" style="width:250px;height:250px;">
            <div class ="card-body">
                <h5 class="card-title"> Demo 2 Page</h5>
                <p class="card-text"> 
                    Demo 2 will demonstrate the LIDAR navigation for the first time and also 
                    show our progress in the book detection and book grabbing systems. 
                </p>
                <a href="{{url_for('demo2')}}" class="btn btn-primary"> Go to demo 2.</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card" style="width: vmax;height: vmax;">
            <img class="card-img-top" src="{{url_for('static', filename='pickup_colour.png')}}" alt="Pick Up a Book" style="width:280px;height:280px;">
            <div class ="card-body">
                <h5 class="card-title"> Pick Up a reserved book(WIP)</h5>
                <p class="card-text"> 
                      This will give users the functionality to pick up a reserved book.  
                </p>
                    <a href="{{url_for('pickup')}}" class="btn btn-primary"> (WIP).</a>
                </div>
            </div>
    </div>

    <div class="col-lg-4">
            <div class="card" style="width: vmax;height: vmax;">
                <img class="card-img-top" src="{{url_for('static', filename='reserve_colour.png')}}" alt="Reserve a Book" style="width:250px;height:250px;">
                <div class ="card-body">
                    <h5 class="card-title"> Reserve a book(WIP)</h5>
                    <p class="card-text"> 
                          This will give users the functionality to reserve a book.  
                    </p>
                        <a href="{{url_for('reserve')}}" class="btn btn-primary"> (WIP).</a>
                    </div>
                </div>
        </div>



</div>
</div>
{%endblock%}